
/* A minimal css reset -
Resets margins and paddings
*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #555081, black);
  border-radius: 10px;
  opacity: 0.3;
  transition: 0.9s;
}
::-webkit-scrollbar-button {
  opacity: 0;
}

::-webkit-scrollbar-corner {
  opacity: 0;
}
::-webkit-scrollbar-thumb:hover {
  opacity: 0.3;
  background: linear-gradient(45deg, var(--textcolor), var(--textnavbar));
}


html,
body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #555272, #524e71, #4e4a70, #4b476f, #47436e, #45416a, #423e66, #403c62, #3e3b5b, #3b3954, #39384d, #373646);
    font-family: 'Quicksand', sans-serif;
    z-index: -1;
    overflow: hidden;
}

:root {
    --textcolor: #FEC342;
    --textnavbar: #ffffff;
  }

  nav {
    background-color: rgba(85, 80, 129, 0.5);
    /* background-image: linear-gradient(to right, #706d8a, #716c95, #676294, #5c5887, #68629d, #635e95, #52507f, #504c7b, #4c496f, #5f5b89, #585778, #373646); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 11px 3px #000000;
  }

  .navbar_logo {
    padding-left:30px ;
    color: white;
    font-weight: 1000;
    font-size: 20px;
    text-shadow: -2px 2px 3px black;
    left: 1rem;
  }

  
  ul {
    list-style-type: none;
  }
  li a {
    position: relative;
    text-decoration: none;
    color: var(--textnavbar);
    z-index: 1;
    padding: 0 10px;
    transition: ease-in-out 0.3s;
  }
  li  {
    text-align: center;
    position: relative;
  }

  .navbar_items {
    display: flex;
    gap: 3rem;
    padding-left: 15rem;
  }

  .items_line_one {
    border-radius: 20px;
    width: 130px;
    height: 35px;
    position: absolute;
    left: 10px;
    top: 90px;
    transition:ease-in-out 0.8s;
    background-color:  rgba(150, 143, 216, 0.5);
    transform: rotate(55deg);
    box-shadow: 1px 1px 10px 1px #000000;
  }
  
  .items_line_two{
    border-radius: 20px;
    width: 130px;
    height: 35px;
    position: absolute;
    left: -62px;
    bottom: 80px;
    transition: ease-in-out  0.8s;
    background-color: rgba(183, 36, 92, 0.8);
    transform: rotate(55deg);
  }
  
  li:hover .items_line_one {
    transform:rotate(55deg) translate(-50px,-50px);
    left: -64px;
    top: 60px;
  }
  
  li:hover .items_line_two{
    transform:rotate(55deg) translate(50px,50px);
    bottom: 80px;
    left: -8px;
  }
  
  .fix:hover .items_line_two{
    transform:rotate(55deg) translate(50px,50px);
    height: 40px;
    bottom: 75px;
    left: -0px;
  }
  
  .fix:hover .items_line_one{
    transform:rotate(55deg) translate(-50px,-50px);
    left: -61px;
    top: 60px;
  }
  


  .container{
    display: flex;
    justify-content: center;
    height: 640px;
    position: relative;
    display: flex;
  align-items: center;
  }


  .container_title {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: #ffffff;
  gap: 20px;
  animation: section-animation linear 1s;
  }

  @keyframes section-animation {
    0% {
      opacity: 0;
      padding-right: 100px;
    }
  
    100% {
      opacity: 1;
      transform: translate(0deg);
    }
  }

  .container_title h1 {
    font-size: 72px;
    color: #FEC342;
    margin: 0;
    font-weight: 700;
    letter-spacing: 1.3px;
    font-family: 'Roboto', sans-serif;
  }
  
  .container_title p {
    letter-spacing: 1.3px;
    text-align: start;
    width: 800px;
    font-size: 20px;
    z-index: 1;
  }


  
  footer {
    z-index: 1;
    background-color: rgba(150, 143, 216, 0.5);
    /* background-image: linear-gradient(to right, #706d8a, #716c95, #676294, #5c5887,#716c95, #68629d, #635e95, #52507f, #504c7b, #4c496f, #5f5b89, #585778,#676294,#716c95, #706d8a); */
    display: flex;
    padding: 0 40px;
    justify-content: flex-start;
    align-items: center;
    height: 65px;
    position: relative;
    box-shadow: 0px 0px 11px 3px #000000;
  }

  h3 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.3px;
    color: linear-gradient(to right, #555272, #524e71, #4e4a70, #4b476f, #47436e, #45416a, #423e66, #403c62, #3e3b5b, #3b3954, #39384d, #373646);
  }

.my_skills {
  padding: 0 30%;
  display: flex;
  gap: 0.5rem;
  position: relative;
  height: 50px;
  align-items: center;
  
}

.icon {
  width: 45px;
  transition: linear 0.3s;
  position: relative;
}

.icon:hover {
  height: auto;
  width: 60px;
}

#myCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 50px;
  transform: rotate(-20deg) translate(150px);
}


.navbar_dropdown {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  top:4rem;
  right: 0;
  width: 100%;
  background-color: rgba(85, 80, 129, 0.9);
  height: 150px;
  z-index: 2;
  box-shadow: 0px 0px 11px -3px #000000;
  padding: 5px 0;
}

.navbar_items_dropdown {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  gap: 3rem;

}

.menu-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  display: none;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
}

@media (max-width: 844px) {
  body {
    background-image: url(Images/Property\ 1=Default.svg);
 }

 .menu-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
}

nav {
  background-color: rgba(85, 80, 129, 0.5);
  /* background-image: linear-gradient(to right, #706d8a, #716c95, #676294, #5c5887, #68629d, #635e95, #52507f, #504c7b, #4c496f, #5f5b89, #585778, #373646); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 11px 3px #000000;
}

.navbar_logo {
  padding-left:30px ;
  color: white;
  font-weight: 1000;
  font-size: 20px;
  text-shadow: -2px 2px 3px black;
  left: 1rem;
}

.navbar_dropdown {
display: none;
position: absolute;
align-items: center;
justify-content: center;
top:3rem;
right: 0;
width: 100%;
background-color: rgba(85, 80, 129, 0.9);
height: 100px;
z-index: 2;
box-shadow: 0px 0px 11px -3px #000000;
padding: 5px 0;
}

.navbar_items_dropdown {
display: flex;
align-items: center;
justify-content: space-around;
padding: 0;
gap: 3rem;

}

.navbar_items {
  display: none;
  position: absolute;
  left: 0px;
  top: 3rem;
  padding: 0;
  gap: 0.5rem;
  align-self: center;
}

.navbar_item_name {
  color: white;
 font-size: 12px;
}

li {
text-align: center;

}

li a{
  padding: 0;
  margin: 0;
  }

.items_line_one {
display: none;

}

.items_line_two{
display: none;
}

.container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  height: 640px;
  padding: 70px 0;
  width: 100%;
}

.container_title {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: #ffffff;
  padding-left: 5px;
  animation: section-animation linear 1s;
  gap: 10px;
  }


  .container_title h1 {
    font-size: 58px;
    width: 320px;
    color: #FEC342;
    margin: 0;
    padding: 0;
    font-weight: 700;
    letter-spacing: 1.3px;
    font-family: 'Roboto', sans-serif;
  }

  .container_title p {
    letter-spacing: 1.3px;
    text-align: start;
    width: 100%;
    font-size: 16px;
    z-index: 1;
  }

  footer {
  z-index: 1;
  background-color: rgba(150, 143, 216, 0.5);
  /* background-image: linear-gradient(to right, #706d8a, #716c95, #676294, #5c5887,#716c95, #68629d, #635e95, #52507f, #504c7b, #4c496f, #5f5b89, #585778,#676294,#716c95, #706d8a); */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  position: relative;
  box-shadow: 0px 0px 11px 3px #000000;
}

  #myCanvas {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 50px;
    transform: rotate(-20deg) translate(150px);
  }
  
 h3 {
  display: none;
 }
}