
/* A minimal css reset -
Resets margins and paddings
*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #555081, black);
  border-radius: 10px;
  opacity: 0.3;
  transition: 0.9s;
}
::-webkit-scrollbar-button {
  opacity: 0;
}

::-webkit-scrollbar-corner {
  opacity: 0;
}
::-webkit-scrollbar-thumb:hover {
  opacity: 0.3;
  background: linear-gradient(45deg, var(--textcolor), var(--textnavbar));
}


body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
    background-image: linear-gradient(to right, #555272, #524e71, #4e4a70, #4b476f, #47436e, #45416a, #423e66, #403c62, #3e3b5b, #3b3954, #39384d, #373646);
    overflow: hidden;
  }


:root {
    --textcolor: #FEC342;
    --textnavbar: #ffffff;
  }

  nav {
    background-color: rgba(85, 80, 129, 0.5);
    /* background-image: linear-gradient(to right, #706d8a, #716c95, #676294, #5c5887, #68629d, #635e95, #52507f, #504c7b, #4c496f, #5f5b89, #585778, #373646); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 35px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 11px 3px #000000;
  }

  .navbar_logo {
    padding-left:30px ;
    color: white;
    font-weight: 1000;
    font-size: 20px;
    text-shadow: -2px 2px 3px black;
    left: 1rem;
  }

  
  ul {
    list-style-type: none;
  }
  li a {
    position: relative;
    text-decoration: none;
    color: var(--textnavbar);
    z-index: 1;
    padding: 0 10px;
    transition: ease-in-out 0.3s;
  }
  li  {
    text-align: center;
    position: relative;
  }

  .navbar_items {
    display: flex;
    gap: 3rem;
    padding-left: 15rem;
  }


  .container{
    display: flex;
    justify-content: center;
    height: 640px;
    position: relative;
    display: flex;
  align-items: center;
  }


  .container_title {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: #ffffff;
  gap: 40px;
  animation: section-animation linear 1s;
  padding-bottom: 100px;
  }

  @keyframes section-animation {
    0% {
      opacity: 0;
      padding-right: 100px;
    }
  
    100% {
      opacity: 1;
      transform: translate(0deg);
    }
  }

  .container_title h1 {
    font-size: 72px;
    color: #FEC342;
    margin: 0;
    font-weight: 700;
    letter-spacing: 1.3px;
    font-family: 'Roboto', sans-serif;
  }
  
  .container_title p {
    letter-spacing: 1.3px;
    text-align: start;
    width: 800px;
    font-size: 20px;
  }


  
  footer {
    z-index: 1;
    background-color: rgba(150, 143, 216, 0.5);
    /* background-image: linear-gradient(to right, #706d8a, #716c95, #676294, #5c5887,#716c95, #68629d, #635e95, #52507f, #504c7b, #4c496f, #5f5b89, #585778,#676294,#716c95, #706d8a); */
    display: flex;
    padding: 0 40px;
    justify-content: flex-start;
    align-items: center;
    height: 65px;
    position: relative;
    box-shadow: 0px 0px 11px 3px #000000;
  }

  h3 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.3px;
    color: linear-gradient(to right, #555272, #524e71, #4e4a70, #4b476f, #47436e, #45416a, #423e66, #403c62, #3e3b5b, #3b3954, #39384d, #373646);
  }

.my_skills {
  padding: 0 30%;
  display: flex;
  gap: 0.5rem;
  position: relative;
  height: 50px;
  align-items: center;
  
}

.icon {
  width: 45px;
  transition: linear 0.3s;
  position: relative;
}

.icon:hover {
  height: auto;
  width: 60px;
}

#myCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index:-1;
  top: 50px;
  transform: rotate(-20deg) translate(150px);
}


 
@media (max-width: 844px) {
  nav {
    display: flex;
    height: 30px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 11px 3px #000000;
  }

  p {
    text-align: center;
    width: 380px;
    font-size: 16px;
  }

  .section-1{
    display: flex;
    align-items: start;
    padding: 8rem 1rem;
  z-index: 1;
  
  }

  .title {
    gap: 1.5rem;
  }

  h1 {
    font-size: 38px;
    color: white;
    margin: 0;
    font-weight: 700;
    letter-spacing: 1.3px;
    font-family: 'Roboto', sans-serif;
  }
  

  h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.3px;
    font-family: 'Roboto', sans-serif;
  }

 span {
    color:  #FEC342;
    font-size: 48px;
  }


  
  .title-two{
    padding: 1rem 0;
  }


}