
/* A minimal css reset -
Resets margins and paddings
*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
  width: 5px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #555081, black);
  border-radius: 10px;
  opacity: 0.3;
  transition: 0.9s;
}
::-webkit-scrollbar-button {
  opacity: 0;
}

::-webkit-scrollbar-corner {
  opacity: 0;
}
::-webkit-scrollbar-thumb:hover {
  opacity: 0.3;
  background: linear-gradient(45deg, var(--textcolor), var(--textnavbar));
}


html,
body {
    margin: 0;
    padding: 0;
    background: var(--primary-bg-color);
    font-family: 'Quicksand', sans-serif;
    z-index: -1;
    overflow: hidden;
    transition: .5s;
}


:root {
  --primary-bg-color:linear-gradient(to right, #555272, #524e71, #4e4a70, #4b476f, #47436e, #45416a, #423e66, #403c62, #3e3b5b, #3b3954, #39384d, #373646);
  --secondary-bg-color: rgba(71, 67, 111, 0.8);
  --textcolor: #FEC342;
  --primary-text-color: #ffffff;
  --secondary-text-color: #FEC342;
  --bolt: 500;
  --text-shadow : -2px 2px 3px black;
  --line_color : rgb(106, 100, 159);
  --secondary-line-color : rgba(183, 36, 92, 0.8);
  --btn-hover : rgb(77, 73, 112);
  --toogle : #FEC342;
}

.light-theme {
--primary-bg-color: rgb(254, 195, 66);
--secondary-bg-color: rgba(255, 255, 255, 0.5);
--primary-text-color:rgb(53 53 53);
--secondary-text-color:  rgb(255, 67, 67);
--secondary-line-color :rgb(255, 67, 67);
--line_color : rgba(255, 255, 255, 0.5);
--bolt: 700;
--text-shadow : none;
--btn-hover : rgb(255, 255, 255);
--toogle :  rgb(255, 67, 67);
}

  .navbar {
    background-color:var(--secondary-bg-color);
    /* background-image: linear-gradient(to right, #706d8a, #716c95, #676294, #5c5887, #68629d, #635e95, #52507f, #504c7b, #4c496f, #5f5b89, #585778, #373646); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 11px 3px #000000;
  }


  .navbar_logo {
    color: var(--primary-text-color);
    font-weight: 1000;
    font-size: 20px;
    text-shadow: var(--text-shadow);
    padding-left: 2rem;
    
  }


  
  ul {
    list-style-type: none;
  }
  li a {
    position: relative;
    text-decoration: none;
    position: relative;
    text-decoration: none;
    color: var(--primary-text-color);
    z-index: 1;
    padding: 0 10px;
    transition: ease-in-out 0.3s;
    transition: .5s;
    text-shadow: var(--text-shadow);
    font-weight: var(--bolt);
    white-space: nowrap;
  }



  li  {
    text-align: center;
    position: relative;
  }

  .navbar_items {
    display: flex;
    gap: 3rem;
    margin-right: 10rem;
  }

  .items_line_one {
    border-radius: 20px;
    width: 130px;
    height: 35px;
    position: absolute;
    left: 10px;
    top: 90px;
    transition:ease-in-out 0.6s;
    background-color:  var(--line_color);
    transform: rotate(55deg);
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.8);
  }
  
  .items_line_two{
    border-radius: 20px;
    width: 130px;
    height: 35px;
    position: absolute;
    left: -62px;
    bottom: 80px;
    transition: ease-in-out  0.6s;
    background-color: var(--secondary-line-color);
    transform: rotate(55deg);
  }
  
  li:hover .items_line_one {
    transform:rotate(55deg) translate(-50px,-50px);
    left: -64px;
    top: 60px;
  }
  
  li:hover .items_line_two{
    transform:rotate(55deg) translate(50px,50px);
    bottom: 80px;
    left: -8px;
  }
  
  .fix:hover .items_line_two{
    transform:rotate(55deg) translate(50px,50px);
    height: 40px;
    bottom: 75px;
    left: -0px;
  }
  
  .fix:hover .items_line_one{
    transform:rotate(55deg) translate(-50px,-50px);
    left: -61px;
    top: 60px;
  }

  li.active .items_line_one{
    border-radius: 20px;
    width: 130px;
    height: 35px;
    position: absolute;
    left: -61px;
    top: 60px;
    transition:ease-in-out 0.5s;
    background-color:  var(--line_color);
    transform:rotate(55deg) translate(-50px,-50px);
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.8);
    animation: 1s normal lineanim;
  }
  
  li.active .items_line_two{
    border-radius: 20px;
    width: 130px;
    height: 35px;
    position: absolute;
    transition: ease-in-out  0.4s;
    background-color: var(--secondary-line-color);
    transform:rotate(55deg) translate(50px,50px);
    height: 40px;
    bottom: 75px;
    left: -0px;
    animation: 1s normal lineanim_two;
  }

  
  .play-button {
    background-color: transparent;
    border: none;
    font-size: 21px;
    color: var(--primary-text-color);
    cursor: pointer;
    position: relative;
    padding: 3px 0 0 0;
  }


.play_hover {
  display: none;
  position: absolute;
  white-space: nowrap;
  opacity: 0.7;
  bottom: 1px;
  left: -125px;
  border-radius: 5px;
  font-weight: 600;
  border: 2px solid var(--secondary-text-color);
  font-size: 10px;
  background-color: white;
  color: #000000;
  padding: 5px;
  z-index: 2;
}

.play-button:hover .play_hover {
  display: block;
}
  
  .theme {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
  }

  .theme-switch {
    position: relative;
    width: 48px;
    height: 24px;
    margin-right: 2rem;
  }

    
.theme-switch {
  position: relative;
  width: 48px;
  height: 24px;
}

.change_theme {
  display: none;
  position: absolute;
  white-space: nowrap;
  opacity: 0.7;
  bottom: 1px;
  left: -125px;
  border-radius: 5px;
  font-weight: 600;
  border: 2px solid var(--secondary-text-color);
  font-size: 10px;
  background-color: white;
  color: #000000;
  padding: 5px;
  z-index: 2;
}

.theme-switch:hover .change_theme {
  display: block;
}

  
.theme-switch input[type="checkbox"] {
  display: none;
}

.theme-switch label {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 24px;
  background-color: #080606;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.theme-switch label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: var(--toogle);
  border-radius: 50%;
  transition: transform 0.3s;
}

.theme-switch input[type="checkbox"]:checked + label {
  background-color: #ffffff;
}

.theme-switch input[type="checkbox"]:checked + label:before {
  transform: translateX(24px);
}


  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 105px);
    position: relative;
  align-items: center;
  gap: 5px;
  padding: 40px 100px;
  }

  .photo{
    width: 400px;
    height: 590px;
    padding-top: 50px;
    padding-bottom: 90px;
   }
  
   .circle{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 360px;
    height: 360px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    border: 5px var(--primary-text-color) solid;
   }

  .container_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  gap: 20px;
  border-radius: 5px;
  z-index: 0;


   
  }

  .container_main{
    display: flex;
    width: 1200px;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-bg-color);
    padding: 40px 50px;
    backdrop-filter: blur(1px);
    z-index: 2;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px #000000;
    animation: section-animation linear 1s;
  }

  @keyframes section-animation {
    0% {
      opacity: 0;
      transform: translate(-180px);
    }
  
    100% {
      opacity: 1;
      transform: translate(0deg);
    }
  }

   h1 {
    font-size: 58px;
    color: var(--secondary-text-color);
    margin: 0;
    font-weight: 700;
    letter-spacing: 1.3px;
    font-family: 'Roboto', sans-serif;
  }
  
  .container_title p {
    letter-spacing: 1.3px;
    text-align: start;
    width: 700px;
    font-size: 18px;
    z-index: 1;
    color: var(--primary-text-color);
    font-weight: var(--bolt);
  }


  
  footer {
    z-index: 1;
    background-color: var(--secondary-bg-color);
    /* background-image: linear-gradient(to right, #706d8a, #716c95, #676294, #5c5887,#716c95, #68629d, #635e95, #52507f, #504c7b, #4c496f, #5f5b89, #585778,#676294,#716c95, #706d8a); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 30px;
    position: relative;
    box-shadow: 0px 0px 11px 3px #000000;
  }

  .navi {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.3px;
    left: 2rem;
    color: var(--primary-text-color);
  }

.my_skills {
  display: flex;
  gap: 1rem;
  position: relative;
  align-items: center;
  animation: socials 1s linear;
  transition: .5s;
  
}

.icon_mongo {
  color: rgb(0, 0, 0);
  background-color: white;
border-radius: 50px;
font-weight: 600;
  padding: 13px 1px;
  font-size: 12px;
  transition: .5s;
}


.icon_mongo:hover {
  background-color: var(--secondary-text-color);
}


@keyframes socials {
0% {
  opacity: 0;
  transform: scale(0);
}

100% {
  opacity: 1;
  transform: scale(1);
}
}


.icon {
  color:var(--primary-text-color);
  font-size: 44px;
  transition: linear 0.3s;
  position: relative;
  animation: icons 0.9s linear;
  text-align: center;
}


.icon:hover {
  color: var(--secondary-text-color);
}

#myCanvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index:0;
  top:50% ;
  left: 25%;
  transform: rotate(-25deg);
}

.navbar_dropdown {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  top:4rem;
  right: 0;
  width: 100%;
  background-color: rgba(85, 80, 129, 0.9);
  height: 150px;
  z-index: 2;
  box-shadow: 0px 0px 11px -3px #000000;
  padding: 5px 0;
}

.navbar_items_dropdown {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  gap: 3rem;

}

.menu-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  display: none;
  border: none;
  background-color: transparent;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
}

@media (max-width: 844px) {


 .menu-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
}

.play-button {
 display: none;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
}

.navbar {
  background-color: rgba(85, 80, 129, 0.5);
  /* background-image: linear-gradient(to right, #706d8a, #716c95, #676294, #5c5887, #68629d, #635e95, #52507f, #504c7b, #4c496f, #5f5b89, #585778, #373646); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 11px 3px #000000;
}

.navbar_logo {
  padding-left:30px ;
  color: white;
  font-weight: 1000;
  font-size: 20px;
  text-shadow: -2px 2px 3px black;
  position: relative;
}

.navbar_dropdown {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  top:3rem;
  right: 0;
  width: 100%;
  background-color: rgba(85, 80, 129, 0.9);
  height: 100px;
  z-index: 2;
  box-shadow: 0px 0px 11px -3px #000000;
  padding: 5px 0;
  transition: .5s;
}


.navbar_items_dropdown {
display: flex;
align-items: center;
justify-content: space-around;
padding: 0;
gap: 3rem;

}

.navbar_items {
  display: none;
  position: absolute;
  left: 0px;
  top: 3rem;
  padding: 0;
  gap: 0.5rem;
  align-self: center;
}

.navbar_item_name {
  color: white;
 font-size: 12px;
}

li {
text-align: center;

}

li a{
  padding: 0;
  margin: 0;
  }

.items_line_one {
display: none;

}

.items_line_two{
display: none;
}

.container{
  display: flex;
  justify-content: center;
  height: calc(100svh - 120px);
  align-items: center;
  z-index: 1;
  width: 100%;
}

.container_title {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: #ffffff;
  padding: 0;
  animation: section-animation linear 1s;
  gap: 10px;
  overflow: auto;
  }

  .photo{
    display: none;
    width: 250px;
    height: 150px;
    background-color: #0a0b0c;
  }

  .navi {
    display: none;
  }

  .container_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-color);
    padding: 30px 20px;
    backdrop-filter: blur(1px);
    z-index: 2;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px #000000;
    animation: section-animation linear 1s;
  }

  @keyframes section-animation {
    0% {
      opacity: 0;
      padding-right: 100px;
    }
  
    100% {
      opacity: 1;
      transform: translate(0deg);
    }
  }


   h1 {
    font-size: 48px;
    width: 320px;
    color: #FEC342;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1.3px;
    font-family: 'Roboto', sans-serif;
  }


  .container_title p {
    letter-spacing: 1.3px;
    text-align: start;
    padding: 5px;
    width: 370px;
    font-size: 14px;
    z-index: 1;
    background-color: var(--secondary-bg-color);
  }

  .my_skills {
    display: flex;
    gap: 3rem;
    position: relative;
    align-items: center;
    animation: socials 1s linear;
    transition: .5s;
    padding: 0;
    
  }

  footer {
  z-index: 1;
  background-color: rgba(150, 143, 216, 0.5);
  /* background-image: linear-gradient(to right, #706d8a, #716c95, #676294, #5c5887,#716c95, #68629d, #635e95, #52507f, #504c7b, #4c496f, #5f5b89, #585778,#676294,#716c95, #706d8a); */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  position: relative;
  box-shadow: 0px 0px 11px 3px #000000;
}

  #myCanvas {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    left: -200px;
    top:100px;
  }

  .theme-switch {
    display: none;
    position: relative;
    width: 48px;
    height: 24px;
    margin-right: 2rem;
  }
  
 h3 {
  display: none;
 }

 .icon {
  width: 15px;
  transition: linear 0.3s;
  position: relative;
  animation: icons 0.9s linear;
}

}