/* A minimal css reset -
Resets margins and paddings
*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #555081, black);
  border-radius: 10px;
  opacity: 0.3;
  transition: 0.9s;
}
::-webkit-scrollbar-button {
  opacity: 0;
}

::-webkit-scrollbar-corner {
  opacity: 0;
}
::-webkit-scrollbar-thumb:hover {
  opacity: 0.3;
  background: linear-gradient(45deg, var(--textcolor), var(--textnavbar));
}


body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    background: var(--primary-bg-color);
  }



  :root {
    --primary-bg-color:linear-gradient(to right, #555272, #524e71, #4e4a70, #4b476f, #47436e, #45416a, #423e66, #403c62, #3e3b5b, #3b3954, #39384d, #373646);
    --secondary-bg-color: rgba(71, 67, 111, 0.8);
    --textcolor: #FEC342;
    --primary-text-color: #ffffff;
    --secondary-text-color: #FEC342;
    --bolt: 500;
    --text-shadow : -2px 2px 3px black;
    --line_color : rgb(106, 100, 159);
    --secondary-line-color : rgba(183, 36, 92, 0.8);
    --btn-hover : rgb(77, 73, 112);
    --toogle : #FEC342;
  }

 .light-theme {
  --primary-bg-color: rgb(254, 195, 66);
  --secondary-bg-color: rgba(255, 255, 255, 0.5);
  --primary-text-color:rgb(53 53 53);
  --secondary-text-color:  rgb(255, 67, 67);
  --secondary-line-color :rgb(255, 67, 67);
  --line_color : rgba(255, 255, 255, 0.5);
  --bolt: 700;
  --text-shadow : none;
  --btn-hover : rgb(255, 255, 255);
  --toogle :  rgb(255, 67, 67);
 }

 .navbar {
  background-color: var(--secondary-bg-color);
  /* background-image: linear-gradient(to right, #706d8a, #716c95, #676294, #5c5887, #68629d, #635e95, #52507f, #504c7b, #4c496f, #5f5b89, #585778, #373646); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 11px 3px #000000;
}
  .navbar_logo {
    color: white;
    font-weight: 1000;
    font-size: 20px;
    text-shadow: -2px 2px 3px black;
    padding-left: 2rem;
  }

  
  ul {
    list-style-type: none;
  }
  li a {
    position: relative;
    text-decoration: none;
    position: relative;
    text-decoration: none;
    color: var(--primary-text-color);
    z-index: 1;
    padding: 0 10px;
    transition: ease-in-out 0.3s;
    transition: .5s;
    text-shadow: var(--text-shadow);
    font-weight: var(--bolt);
  }


  li  {
    text-align: center;
    position: relative;
  }

  .navbar_items {
    display: flex;
    gap: 3rem;
    margin-right: 10rem;
  }

.items_line_one {
  border-radius: 20px;
  width: 130px;
  height: 35px;
  position: absolute;
  left: 10px;
  top: 90px;
  transition:ease-in-out 0.6s;
  background-color:  var(--line_color);
  transform: rotate(55deg);
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.8);
}

.items_line_two{
  border-radius: 20px;
  width: 130px;
  height: 35px;
  position: absolute;
  left: -62px;
  bottom: 80px;
  transition: ease-in-out  0.6s;
  background-color: var(--secondary-line-color);
  transform: rotate(55deg);
}

li.active .items_line_one{
  border-radius: 20px;
  width: 130px;
  height: 35px;
  position: absolute;
  left: -64px;
  top: 60px;
  transition:ease-in-out 0.4s;
  background-color:  var(--line_color);
  transform:rotate(55deg) translate(-50px,-50px);
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.8);
}

li.active .items_line_two{
  border-radius: 20px;
  width: 130px;
  height: 35px;
  position: absolute;
  transition: ease-in-out  0.4s;
  background-color: var(--secondary-line-color);
  transform:rotate(55deg) translate(50px,50px);
  bottom: 80px;
  left: -8px;
}

li:hover .items_line_one {
  transform:rotate(55deg) translate(-50px,-50px);
  left: -64px;
  top: 60px;
}

li:hover .items_line_two{
  transform:rotate(55deg) translate(50px,50px);
  bottom: 80px;
  left: -8px;
}

.fix:hover .items_line_two{
  transform:rotate(55deg) translate(50px,50px);
  height: 40px;
  bottom: 75px;
  left: -0px;
}

.fix:hover .items_line_one{
  transform:rotate(55deg) translate(-50px,-50px);
  left: -61px;
  top: 60px;
}

.items {
  display: flex;
  gap: 3rem;
}


.theme-switch {
  position: relative;
  width: 48px;
  height: 24px;
  margin-right: 2rem;
}

.theme-switch input[type="checkbox"] {
  display: none;
}

.theme-switch label {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 24px;
  background-color: #ccc;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.theme-switch label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

.theme-switch input[type="checkbox"]:checked + label {
  background-color: #101010;
}

.theme-switch input[type="checkbox"]:checked + label:before {
  transform: translateX(24px);
}

.menu-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  display: none;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
}

.navbar_dropdown {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  top:4rem;
  right: 0;
  width: 100%;
  background-color: rgba(85, 80, 129, 0.9);
  height: 150px;
  z-index: 2;
  box-shadow: 0px 0px 11px -3px #000000;
  padding: 5px 0;
}

.navbar_items_dropdown {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  gap: 3rem;

}


.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 105px);
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  background-image: url(Images/Property\ 1=Default.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}



  form {
  display: flex;
flex-direction: column;
justify-content: start;
align-items: start;
gap: 10px;
padding:  25px 50px;
width: 100%;
border-radius: 10px;
background-color: var(--secondary-bg-color);
box-shadow: 0px 0px 10px 1px #000000;
  }

  legend {
    color: var(--secondary-text-color);
    font-weight: 600;
    font-size: 22px;
  }

  label {
    color: var(--primary-text-color);
    font-weight: var(--bolt);
  }

  footer {
    z-index: 1;
    background-color: var(--secondary-bg-color);
    /* background-image: linear-gradient(to right, #706d8a, #716c95, #676294, #5c5887,#716c95, #68629d, #635e95, #52507f, #504c7b, #4c496f, #5f5b89, #585778,#676294,#716c95, #706d8a); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 30px;
    position: relative;
    box-shadow: 0px 0px 11px 3px #000000;
  }
  

  .container_form_input {
    display: flex;
    align-items: start;
    gap: 5px;
    flex-direction: column;
    justify-content: start;
  }

  input {
padding: 18px 10px;
gap: 10px;
border: none;
width: 450px;
height: 35px;
border-radius: 10px;
color: var(--primary-text-color);
background-color: var(--line_color);
  }
  
  .names {
    display: flex;
    gap: 1.1rem;
  }

.names_input{
  width: 215px;
}

  input:focus {
   outline: none;
      }
    

  input::placeholder {
    color: var(--primary-text-color);
    
  }

  textarea::placeholder {
    color: var(--primary-text-color);
  }

  textarea:focus {
    outline: none;
  }

  textarea {
    background-color: var(--line_color);
    padding: 18px 10px;
    gap: 10px;
    border: none;
    width: 450px;
    height: 35px;
    border-radius: 10px;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    resize: none;
      }
  

  .email {
    width: 450px;
   height: 155px;
  }

  .container_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  animation: section-animation linear 1s;

  }

  @keyframes section-animation {
    0% {
      opacity: 0;
      padding-right: 100px;
    }
  
    100% {
      opacity: 1;
      transform: translate(0deg);
    }
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 52px;
    color: var(--secondary-text-color);
    margin: 0;
    font-weight: 700;
    letter-spacing: 1.3px;
    
  }
  

  h2 {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1.3px;
    text-align: center;
    width: 700px;
    font-family: 'Roboto', sans-serif;
  }



 .btn {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
width: 114px;
height: 45px;
border: 2px solid #FEC342;
border-radius: 30px;
background: #FEC342;
color: rgb(92, 92, 92);
font-weight: 500;
font-size: 18px;
cursor: pointer;
 }

 .btn:hover {
  background: #f8c964;
  color: #555081; 
  font-weight: 500;
 }


 .navi {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.3px;
color: var(--primary-text-color);
}

@keyframes text {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes socials {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.social {
  display: flex;
  gap: 1.2rem;
  position: relative;
  align-items: center;
  animation: socials 1s linear;
  transition: .5s;
}

.icon {
  color:var(--primary-text-color);
  font-size: 44px;
  transition: linear 0.3s;
  position: relative;
  animation: icons 0.9s linear;
  text-align: center;
}

.icon:hover {
  color: var(--secondary-text-color);
}

@media (max-width: 844px) {


  .theme-switch {
    display: none;
    position: relative;
    width: 48px;
    height: 24px;
    margin-right: 2rem;
  }

  .names {
    display: flex;
    gap: 5px;
  }

.names_input{
  width: 172px;
}
  
  body {

     background-image: url(Images/Property\ 1=Default.svg);
  }

  h1 {
    font-size: 32px;
    display: none;
  }

  .menu-btn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
  }
  
  .bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
  }

  nav {
    background-color: rgba(85, 80, 129, 0.5);
    /* background-image: linear-gradient(to right, #706d8a, #716c95, #676294, #5c5887, #68629d, #635e95, #52507f, #504c7b, #4c496f, #5f5b89, #585778, #373646); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 11px 3px #000000;
  }

  .navbar_logo {
    padding-left:30px ;
    color: white;
    font-weight: 1000;
    font-size: 20px;
    text-shadow: -2px 2px 3px black;
    left: 1rem;
    position: relative;
  }

.navbar_dropdown {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  top:3rem;
  right: 0;
  width: 100%;
  background-color: rgba(85, 80, 129, 0.9);
  height: 100px;
  z-index: 2;
  box-shadow: 0px 0px 11px -3px #000000;
  padding: 5px 0;
}

.navbar_items_dropdown {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  gap: 3rem;

}

  .navbar_items {
    display: none;
    position: absolute;
    left: 0px;
    top: 3rem;
    padding: 0;
    gap: 0.5rem;
    align-self: center;
  }

  .navbar_item_name {
    color: white;
   font-size: 12px;
  }

 li {
  text-align: center;

  }

  li a{
    padding: 0;
    margin: 0;
    }

.items_line_one {
  display: none;
  
}

.items_line_two{
  display: none;
}




form {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: start;
gap: 8px;
padding:  25px 10px;
width: 100%;
border-radius: 10px;
background-color: none;
box-shadow: none;

}


.container_form_input {
  display: flex;
  align-items: start;
  gap: 5px;
  flex-direction: column;
  justify-content: start;
}

input {
padding: 5px;
gap: 10px;
border: none;
width: 350px;
height: 35px;
background: var(--primary-bg-color);
border-radius: 10px;
}



.email {
  width: 350px;
 height: 155px;
}


.container {
  display: flex;
  flex-direction: column;
  height: calc(100svh - 120px);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0 0;
}


 
.container_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding-left: 0px;
  animation: section-animation linear 1s;
  }

  @keyframes section-animation {
    0% {
      opacity: 0;
      padding-right: 100px;
    }
  
    100% {
      opacity: 1;
      transform: translate(0deg);
    }
  }

  .pitch {
    width: 380px;
    font-size: 18px;
  }


  h3 {
    display: none;
  }

 span {
    color:  #FEC342;
    margin: 0;
    padding: 0;
  }


 a {
  text-decoration: none;
  
 }

 .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 122px;
  height: 45px;
  border: 2px solid #FEC342;
  border-radius: 30px;
  background: rgba(150, 143, 216, 0.3);
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
 }


 /* .image {
  background-image: url(Images/Ellipse\ 1.svg);
  background-position: 50%;
  background-size: 500px;
  background-repeat: no-repeat;
  height: 450px;
  width: 500px;
  
 } */
 footer {
  z-index: 1;
  background-color: rgba(150, 143, 216, 0.5);
  /* background-image: linear-gradient(to right, #706d8a, #716c95, #676294, #5c5887,#716c95, #68629d, #635e95, #52507f, #504c7b, #4c496f, #5f5b89, #585778,#676294,#716c95, #706d8a); */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  position: relative;
  box-shadow: 0px 0px 11px 3px #000000;
}

.icon {
  width: 35px;
  transition: linear 0.3s;
  position: relative;
  animation: icons 0.9s linear;
}

 #myCanvas {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index:0;
  bottom: 0;
  left: 0;
  transform: rotate(-10deg) ;
}

}
