*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #555081, black);
  border-radius: 10px;
  opacity: 0.3;
  transition: 0.9s;
}
::-webkit-scrollbar-button {
  opacity: 0;
}

::-webkit-scrollbar-corner {
  opacity: 0;
}
::-webkit-scrollbar-thumb:hover {
  opacity: 0.3;
  background: linear-gradient(45deg, var(--textcolor), var(--textnavbar));
}



html,
body {
    margin: 0;
    padding: 0;
    background: var(--primary-bg-color);
    font-family: 'Quicksand', sans-serif;
    z-index: -1;
    overflow: hidden;
    transition: .5s;
}


:root {
  --primary-bg-color:linear-gradient(to right, #555272, #524e71, #4e4a70, #4b476f, #47436e, #45416a, #423e66, #403c62, #3e3b5b, #3b3954, #39384d, #373646);
  --secondary-bg-color: rgba(150, 143, 216, 0.5);
  --textcolor: #FEC342;
  --primary-text-color: #ffffff;
  --secondary-text-color: #FEC342;
}

.light-theme {
--primary-bg-color:  #7468d8;
--primary-text-color: rgb(255, 255, 255);
--secondary-text-color: #FEC342;
}

  nav {
    background-color: var(--secondary-bg-color);
    /* background-image: linear-gradient(to right, #706d8a, #716c95, #676294, #5c5887, #68629d, #635e95, #52507f, #504c7b, #4c496f, #5f5b89, #585778, #373646); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 11px 3px #000000;
  }

  .navbar_logo {
    color: white;
    font-weight: 1000;
    font-size: 20px;
    text-shadow: -2px 2px 3px black;
    padding-left: 2rem;
  }

  
  ul {
    list-style-type: none;
  }
  li a {
    position: relative;
    text-decoration: none;
    color: var(--primary-text-color);
    z-index: 1;
    padding: 0 10px;
    transition: ease-in-out 0.3s;
  }
  li  {
    text-align: center;
    position: relative;
  }

  .navbar_items {
    display: flex;
    gap: 3rem;
    margin-right: 10rem;
  }

.items_line_one {
  border-radius: 20px;
  width: 130px;
  height: 35px;
  position: absolute;
  left: -3px;
  top: 90px;
  transition:ease-in-out 0.6s;
  background-color:  rgba(150, 143, 216, 0.5);
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.8);
  transform: rotate(55deg);
  
}

.items_line_two{
  border-radius: 20px;
  width: 130px;
  height: 35px;
  position: absolute;
  left: -62px;
  bottom: 80px;
  transition: ease-in-out  0.6s;
  background-color: rgba(183, 36, 92, 0.8);
  transform: rotate(55deg);
}

li:hover .items_line_one {
  transform:rotate(55deg) translate(-50px,-50px);
  left: -64px;
  top: 60px;
}

li:hover .items_line_two{
  transform:rotate(55deg) translate(50px,50px);
  bottom: 80px;
  left: -8px;
}

.fix:hover .items_line_two{
  transform:rotate(55deg) translate(50px,50px);
  height: 40px;
  bottom: 75px;
  left: -0px;
}

.fix:hover .items_line_one{
  transform:rotate(55deg) translate(-50px,-50px);
  left: -61px;
  top: 60px;
}


.theme-switch {
  position: relative;
  width: 48px;
  height: 24px;
  margin-right: 2rem;
}

.theme-switch input[type="checkbox"] {
  display: none;
}

.theme-switch label {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 24px;
  background-color: #ccc;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.theme-switch label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

.theme-switch input[type="checkbox"]:checked + label {
  background-color: #3f51b5;
}

.theme-switch input[type="checkbox"]:checked + label:before {
  transform: translateX(24px);
}

  .container {
    display: flex;
    height: calc(100vh - 105px);
    justify-content: center;
    align-items: center;
  }

  .left_arrow {
    position: relative;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: none;
  }

  .left_arrow:before {
    opacity: 0.7;
    content: "";
    position: absolute;
    left: -100px; /* Регулируйте это значение для точного позиционирования */
    top: -90px;
    transform: rotate(-180deg) translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px  40px 40px;
    border-color: transparent transparent transparent var(--secondary-text-color);}

    .left_arrow:hover:before {
      opacity: 1;
    }

    .right_arrow {
      position: relative;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    z-index: 2;
    }
  
    .right_arrow:before {
      opacity: 0.7;
      content: "";
      position: absolute;
      left: 20px; /* Регулируйте это значение для точного позиционирования */
      top: -10px;
      transform:  translateY(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 40px  40px 40px;
      border-color: transparent transparent transparent var(--secondary-text-color);}

      .right_arrow:hover:before {
        opacity: 1;
      }

  .projects_btn {
    display: flex;
    align-items: center;
    z-index: 2;
    gap: .5rem;
  }

  h4 {
    font-size: 18px;
  }

  .show_btn {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background-color: var(--secondary-text-color);
    border-radius: 50%;
    font-size: 16px;
    border: none;
    color: #505050;
    transition: .5s;
  }

  .show_btn.active {
    background-color: white;
    width: 25px;
    height: 25px;
  }

  .show_btn_resp {
    display: none;
    width: 45px;
    height: 45px;
    background-color: var(--secondary-text-color);
    border-radius: 50%;
    font-size: 18px;
    border: none;
    color: #505050;
   }

   .show_btn_resp.active {
    background-color: white;
  }

    h1 {
    font-size: 34px;
    color: var(--secondary-text-color);
    margin: 0;
    font-weight: 700;
    letter-spacing: 1.3px;
    font-family: 'Roboto', sans-serif;
    display: none;
  }

  .projects {
    display: grid;
    overflow: auto;
    grid-template-columns: auto auto auto ;
    position: relative;
    border-radius: 20px;
    background-color: var(--secondary-bg-color);
    animation: projects-one-animation linear 0.5s;
    padding: 10px;
    gap: 0.6rem;
    box-shadow: 0px 0px 10px 1px #000000;
    height: 82vh;
    width: 80%;
  }

  .projects-two {
    display: none;
    overflow: auto;
    grid-template-columns: auto auto auto ;
    position: relative;
    border-radius: 20px;
    background-color: var(--secondary-bg-color);
    animation: projects-two-animation linear 0.5s;
    padding: 10px;
    gap: 0.6rem;
    box-shadow: 0px 0px 10px 1px #000000;
    height: 82vh;
    width: 80%;
  }

  @keyframes projects-one-animation {
    0% {
      opacity: 0;
      transform: translate(-180px);
    }
  
    100% {
      opacity: 1;
      transform: translate(0deg);
    
    }
  }



  @keyframes projects-two-animation {
    0% {
      opacity: 0;
      transform: translate(180px);
    }
  
    100% {
      opacity: 1;
      transform: translate(0deg);
    
    }
  }


  /* .projects-one {
    display: grid;
    grid-template-columns: repeat(3,1fr)  ;
    gap: 0.7rem;
    animation: projects-one-animation linear 0.7s;
    padding: 5px;
  } */


  .project-card {
    position: relative;
    overflow: hidden;
    display: flex;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 37vh;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: rgba(41, 41, 57);
    cursor: pointer;
    
  }

  .project-card[data-tooltip]::before {
    content: attr(data-tooltip);
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    z-index: 2;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
  }
  
  .project-card[data-tooltip]:hover::before {
    opacity: 1;
    visibility: visible;
  }
  


  .project-desc p {
    display: none;
  }

  .project-img {
    width: 100%;
    height: 90%;
  }




  .icon {
    width: 20px;
    transition: linear 0.3s;
  }



  .project-title{
    font-size: 32px;
    font-family: 'Robot', sans-serif;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-align: center;
    color: white;
    padding: 10px;
  }





  .footer ul {
    display: none;
  }

  .links {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  /* .expanded {
    width: 1600px;
    animation: expand 0.3s ease;
  }
  
  @keyframes expand {
    0% {
      transform: matrix(0.5);
    }
    100% {
      transform: scaley(1);
    }
  } */


.project-card.expanded {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 1;
  transition: 0.5 ease-out;
  cursor: auto;
}

.project-card.expanded[data-tooltip]:hover::before {
  content: "Click to close";
  opacity: 1;
  visibility: visible;
  top: 10px;
}

.project-card.expanded p {
display: block;
}


.project-card.expanded .footer_link {
  display: block;
}

.project-card.expanded ul {
  display: flex;
  gap: 10px;
  color: rgb(231, 229, 229);
}



.project-card.expanded .project-img {
  width: 100%;
  height: 100%;
}

.project-card.expanded .project-desc{
  width: 100%;
  height: 280px;
  position: absolute;
  bottom: 0;
  gap: 1rem;
  background-color: rgba(41, 41, 57, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px) ;
  display: none;
}

.project-card.expanded:hover .project-desc{
  width: 100%;
  height: 280px;
  position: absolute;
  bottom: 0;
  gap: 1rem;
  background-color: rgba(41, 41, 57, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px) ;
  
}

/* .cards:hover > .card:not(:hover) {
  backdrop-filter:  blur(3px);
} */


/* .project-desc.expanded {
  width: 100%;
  height: 250px;
  background-color: rgba(85, 80, 129, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  display: none;
} */


.project-card.expanded .project-title {
 font-size: 36px;
 color: var(--secondary-text-color);
 font-weight: 700;
 font-family: 'Roboto', sans-serif;
}


p.expanded {
  width: 800px;
  font-size: 20px;
  font-weight: 300;
  color: var(--primary-text-color);
  text-align: center;
  border: 1px 1px solid black;

}


.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.footer_link {
 display: none;
}




iframe {
  display: none;
  z-index: 2;
  background-color: #423e66;
}

.expanded-iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
}


.btn-close {
  border: none;
  top: 3px;
  right: 20px;
  display: block;
  color: white;
  font-size: 22px;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: rgba(8, 7, 7, 0.5);
  cursor: pointer;
  z-index: 2;
}



.expanded-btn {
  position: absolute;
  background: #3e3b5b;
  display: block;
  z-index: 2;
  width: 150px;
  height: 150px;
  
}

.btn-primary {
text-align: center;
width: 120px;
height: 45px;
border-radius: 30px;
background: #FEC342;
color: #555081;
font-weight: 700;
font-size: 16px;
border: none;
cursor: pointer;
}



/* .project-card:hover .project-overlay {
    opacity: 1;
}  */

#myCanvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index:0;
  top:50% ;
  left: 25%;
  transform: rotate(-25deg);
  transition: 10s;
}


  
   
footer {
  z-index: 1;
  background-color: var(--secondary-bg-color);
  /* background-image: linear-gradient(to right, #706d8a, #716c95, #676294, #5c5887,#716c95, #68629d, #635e95, #52507f, #504c7b, #4c496f, #5f5b89, #585778,#676294,#716c95, #706d8a); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  position: relative;
  box-shadow: 0px 0px 11px 3px #000000;
}


  h3 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.3px;
    left: 2rem;
    position: fixed;
  }

  
.navbar_dropdown {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  top:4rem;
  right: 0;
  width: 100%;
  background-color: rgba(85, 80, 129, 0.9);
  height: 150px;
  z-index: 2;
  box-shadow: 0px 0px 11px -3px #000000;
  padding: 5px 0;
}

.navbar_items_dropdown {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  gap: 3rem;

}

.menu-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  display: none;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
}
   
@media (max-width: 844px) {
  body {
    background-image: url(Images/Property\ 1=Default.svg);
 }

 .theme-switch {
  display: none;
  position: relative;
  width: 48px;
  height: 24px;
  margin-right: 2rem;
}

 .projects_btn {
  display: flex;
  align-items: center;
  z-index: 2;
  gap: .5rem;
  margin-right: 0;
}

 .show_btn {
  display: none;
 }

 .show_btn_resp {
  display: block;
 }

 .menu-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  background-color: transparent;
  border: none;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
}


 .navbar{
   background-color: rgba(85, 80, 129, 0.5);
   /* background-image: linear-gradient(to right, #706d8a, #716c95, #676294, #5c5887, #68629d, #635e95, #52507f, #504c7b, #4c496f, #5f5b89, #585778, #373646); */
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 50px;
   position: relative;
   overflow: hidden;
   box-shadow: 0px 0px 11px 3px #000000;
 }

 .navbar_logo {
   padding-left:30px ;
   color: white;
   font-weight: 1000;
   font-size: 20px;
   text-shadow: -2px 2px 3px black;
   position: relative;
 }

 .navbar_dropdown {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  top:3rem;
  right: 0;
  width: 100%;
  background-color: rgba(85, 80, 129, 0.9);
  height: 100px;
  z-index: 2;
  box-shadow: 0px 0px 11px -3px #000000;
  padding: 5px 0;
  }
  
  .navbar_items_dropdown {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  gap: 3rem;
  
  }
  
  .navbar_items {
    display: none;
    position: absolute;
    left: 0px;
    top: 3rem;
    padding: 0;
    gap: 0.5rem;
    align-self: center;
  }
  
  .navbar_item_name {
    color: white;
   font-size: 12px;
  }
  
  li {
  text-align: center;
  
  }
  
  li a{
    padding: 0;
    margin: 0;
    }
  
  .items_line_one {
  display: none;
  
  }
  
  .items_line_two{
  display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: calc(100svh - 120px);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 5px 0;
  }

  .projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    flex-direction: row;
    position: relative;
    width: 100%;
    border-radius: none;
    background-color: rgba(150, 143, 216, 0.5);;
    gap: 1rem;
    box-shadow: none;
  }

  .projects-two {
    display: none;
    flex-wrap: wrap;
    overflow: auto;
    flex-direction: row;
    position: relative;
    width: 100%;
    border-radius: none;
    background-color: rgba(150, 143, 216, 0);;
    gap: 1rem;
    box-shadow: none;
  }

  
.project-card.expanded:hover .project-desc{
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  padding: 5px 0;
  gap: 2rem;
  background-color: rgba(41, 41, 57, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px) ;
  
}


  .container h1 {
    display: block;
  }

  .project-card {
    position: relative;
    overflow: hidden;
    display: flex;
    font-family: 'Quicksand', sans-serif;
    width: 370px;
    height: 250px;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(41, 41, 57, 0.9);
    backdrop-filter: blur(5px);
    cursor: pointer;
  }

  .project-card.expanded {
  position: fixed;
  left: 1px;
  top: 3.5rem;
  z-index: 1;
  width: 99%;
  height: 640px;
  border: none;
  z-index: 1;
  transition: 0.5 ease-out;
    cursor: auto;
}


.project-card.expanded p{
 width: 383px;
 font-size: 16px;

}

.project-card.expanded .project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 


  .project-title{
    font-size: 24px;
    font-family: 'Robot', sans-serif;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-align: center;
    color: white;
    padding-top: 5px;
  }

  h2 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1.3px;
    font-family: 'Roboto', sans-serif;
  }

 span {
    color:  #FEC342;
    font-size: 48px;
  }

  h3 {
    display: none;
  }
  
  .title-two{
    padding: 1rem 0;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
  }
  
  .footer_link {
   display: none;
  }
  
  .footer a {
    text-decoration: none;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }

  footer {
    z-index: 0;
    background-color: rgba(150, 143, 216, 0.5);
    /* background-image: linear-gradient(to right, #706d8a, #716c95, #676294, #5c5887,#716c95, #68629d, #635e95, #52507f, #504c7b, #4c496f, #5f5b89, #585778,#676294,#716c95, #706d8a); */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    position: relative;
    box-shadow: 0px 0px 11px 3px #000000;
  }
  

  #myCanvas {
    display: none;
  }
  
  ::-webkit-scrollbar {
    display: none;
    width: 2px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #555081, rgb(255, 255, 255));
    border-radius: 10px;
    opacity: 0.3;
    transition: 0.9s;
  }
  ::-webkit-scrollbar-button {
    opacity: 0;
  }
  
  ::-webkit-scrollbar-corner {
    opacity: 0;
  }
  ::-webkit-scrollbar-thumb:hover {
    opacity: 0.3;
    background: linear-gradient(45deg, var(--textcolor), var(--textnavbar));
  }
  
  .right_arrow {
    display: none;
  }


}